$maincolor:#f56c6c;

$navMenu: 250px;

$layoutHeader:75px;

$navMenuMin:64px;

@mixin webkit ($type, $value) {
  -webkit-#{$type}: $value;
  -moz-#{$type}: $value;
  -o-#{$type}: $value;
  -ms-#{$type}: $value;
  #{$type}: $value;
}