.el-submenu .el-menu-item {
  padding-left: 50px !important;
  font-size: 14px;
  &.is-active {background-color: rgba(245,108,108,0.2) !important;}
}
li.el-submenu {
  &.is-active.is-opened .el-submenu__title {background-color:$maincolor !important;}
}
.el-date-editor--datetimerange.el-input, .el-date-editor--datetimerange.el-input__inner  {
  width: 356px !important;
}
//table样式
.el-table {
  td,th {text-align: center !important;} 
  th {
    font-weight: bold !important;
    // color: black !important;
  }
  td {font-size: 14px !important;}
}
//dialog style 
.el-dialog__body {
  padding: 30px 47px !important;
}
.el-dialog__footer {
  text-align: center !important;
}

.el-form {
  .el-form-item:last-child {
    margin-bottom: 0 !important;
  }
  .el-form-item--large {
    text-align: center !important;
    margin-right: 80px !important;
  }
}

  
.el-form-item__content {
    // margin-bottom: 30px !important;
  // text-align: center !important;
  // margin-right: 100px !important;
}

// .line el-col el-col-2 {
//   width: 0 !important;
// }