@import "./normalize.scss";
@import "./config.scss";
@import "./elementui.scss";

body {
  // background-color: $maincolor;
}
.pull-left {float: left;}
.pull-right {float: right;}
.block-space-30 {
  height: 30px;
}